
.jumbotron {
    padding: 0px;
}
.jumbotron .button {
    display: none ; /* HIDDEN */
    color: white;
    position: absolute;
    display: block;
    text-align: center;
    z-index: 1;
    font-size: 15px !important;
    font-weight: 900;
    border: 2px solid green;
    padding: 8px 16px;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    margin-left: 200px;
    margin-top: 100px;
}

.carousel-item {
    max-height: 600px;
}

.carousel-caption {
    display: none; /* HIDDEN */
}

